In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl

In [2]:
path = r'./成功易5月份人民币和香港端口日均消耗.xlsx'
sheet=['美金端口','人民币端口','最终到达网址-人民币','最终到达网址-美金']
df=pd.read_excel(path,sheet)

<ipython-input-2-78eeb466c686>:3: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df=pd.read_excel(path,sheet)

In [3]:
import re
df['最终到达网址-美金']['客户 ID']=df['最终到达网址-美金']['客户 ID'].apply(lambda x:re.sub('-','',x))
df['最终到达网址-人民币']['客户 ID']=df['最终到达网址-人民币']['客户 ID'].apply(lambda x:re.sub('-','',x))
concat_pd=pd.concat([df['最终到达网址-人民币'],df['最终到达网址-美金']],axis=0)
# concat_pd.drop_duplicates('客户 ID')["最终到达网址"].apply(lambda x:re.match(r'(.*\.com)|(.*\.net)',x).group(0))
concat_pd.head(5)

        客户 ID                                        最终到达网址
0  3964201684                         http://www.sem123.com
1  7445692243  http://www.xinkeyeya.com/products_index.html
2  7445692243           http://www.xinkeyeya.com/nav/9.html
3  7445692243                      http://www.xinkeyeya.com
4  8673616182       http://www.suited.com.cn/list.asp?id=21

In [ ]:
# concat_pd2=concat_pd.drop_duplicates('客户 ID')["最终到达网址"].apply(lambda x:re.match(r'(.*\.com)',x).group(1))

In [60]:
concat_pd

            客户 ID                                             最终到达网址
0      3964201684                              http://www.sem123.com
1      7445692243       http://www.xinkeyeya.com/products_index.html
2      7445692243                http://www.xinkeyeya.com/nav/9.html
3      7445692243                           http://www.xinkeyeya.com
4      8673616182            http://www.suited.com.cn/list.asp?id=21
...           ...                                                ...
42150  3189128694  https://www.oxbridgedu.org/article/8489.html?g...
42151  3189128694  https://school.oxbridgedu.org/article/article/...
42152  4117135199  http://www.alusignacm.com/?jh=wlcs_tyc&dy=alum...
42153  4117135199  http://www.alusignacp.com/index.html?jh=oz_tyc...
42154  1549640495  https://www.tfastener.com/out-inner-teeth-wash...

[915483 rows x 2 columns]

In [ ]:
import re
url="http://www.xinkeyeya.com/products_index.html"
print(re.match('www', url).span())  # 在起始位置匹配